.listOfCountries {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: auto;
  gap: 65px;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  place-content: center;
  padding-bottom: 150px;
}

.withoutMatches {
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  padding-top: 150px;
  font-size: 1.8rem;
}

.withoutMatchesLight {
  color: hsl(200, 15%, 8%);
}