.tagBorder {
  height: 31px;
  width: 77px;
  border-radius: 6px;
  /* box-shadow: 0 0 5px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: hsl(209, 23%, 22%);
}

a {
  text-decoration: none;
  color: white;
}