.tagBorder {
  height: 31px;
  width: 77px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 6px;
  box-shadow: 0 0 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: hsl(209, 23%, 22%);
  color: white;
}

a {
  text-decoration: none;
}

.tagBorderLight {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px hsl(0, 0%, 52%);
  color: hsl(200, 15%, 8%);
}