.header {
  min-height: 70px;
  width: 100%;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 5px black;
  display: flex;
  align-items: center;
}

.headerLight {
  background-color: hsl(0, 0%, 100%);
}

.header__container {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__container p:first-child {
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}

.header_containerLight p:first-child {
  color: hsl(200, 15%, 8%);
}

.themeMode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  gap: 10px;
  cursor: pointer;
}

.themeModeLight {
  color: hsl(200, 15%, 8%);
}