.form {
  width: 85vw;
  margin: 35px auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.input__container {
  background-color: hsl(209, 23%, 22%);
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 420px;
}

.input__containerLight {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  box-shadow: 0 0 3px hsl(0, 0%, 52%);
}

.input__container input {
  background-color: hsl(209, 23%, 22%);
  padding: 15px 20px 15px 0px;
  outline: none;
  border: none;
  color: white;
  width: 100%;
}

.input__containerLight input {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.input__container input::placeholder {
  color: hsla(360, 100%, 100%, 0.52);
}

.input__containerLight input::placeholder {
  color: hsl(200, 5%, 22%);
}

.icon {
  color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.iconLight {
  color: hsl(200, 15%, 8%);
}

.select {
  background-color: hsl(209, 23%, 22%);
  overflow: hidden;
  width: 165px;
  border-radius: 6px;
  height: 48px;
}

.select select {
  background-color: hsl(209, 23%, 22%);
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 15px 20px 20px;
  color: white;
}

.selectLight {
  box-shadow: 0 0 3px hsl(0, 0%, 52%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.selectLight select {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

@media screen and (max-width: 700px) {
  .form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px
  }

  .input__container {
    width: 85vw;
    max-width: none;
  }

  .select {
    width: 192px;
    height: 48px;
  }

  .select select {
    width: 178px;
  }

}